
!data/models/whale_patterns/*.pkl
# Data
# Environment Variables
# IDE
# Jupyter
# Logs
# OS
# Python
# Testing
# Virtual Environment
# data/models/ <-- Removed
# data/models/*.zip  <-- Removed to allow LFS tracking
*$py.class
*.egg
*.egg-info/
*.log
*.py[cod]
*.so
*.swo
*.swp
.DS_Store
.Python
.coverage
.eggs/
.env
.env.local
.idea/
.installed.cfg
.ipynb_checkpoints/
.pytest_cache/
.venv/
.vscode/
/env/
Thumbs.db
__pycache__/
build/
data/checkpoints/
data/historical/*.csv
data/models/*.pkl
deploy.zip
develop-eggs/
dist/
downloads/
eggs/
htmlcov/
lib/
lib64/
logs/
logs/RESET_FLAG
parts/
sdist/
var/
venv/
wheels/
